<br>
<div style="vertical-align: middle;font-size: larger ;font-weight: bold;" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <h3 style="text-align: center;" class="card-header">Employee Details</h3>
            <div class="card-body">
                <div *ngIf="empldetail!=null">
                    <form class="form" [formGroup]="employeeForm">
                        <div class="form-group">
                            <label>Employee Id</label>
                            <input type="number" class="form-control" formControlName="empId" />
                        </div>
                        <div class="form-group">
                            <label>Employee Name</label>
                            <input type="text" class="form-control" formControlName="name" />
                        </div>
                        <div class="form-group">
                            <label>Department</label>
                            <input type="text" class="form-control" formControlName="department" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" formControlName="address" />
                        </div>
                        <div class="form-group">
                            <label>Reports To</label>
                            <input type="text" class="form-control" formControlName="reportsTo" />
                        </div>
                        <div class="form-group">
                            <label>Telephone</label>
                            <input type="tel" class="form-control" formControlName="telephone" />
                        </div>
                        <div class="form-group">
                            <label>Position</label>
                            <input type="text" class="form-control" formControlName="position" />
                        </div>
                        <div class="form-group">
                            <label>Salary</label>
                            <input type="number" class="form-control" formControlName="salary" />
                        </div>
                        <div style="text-align: center;" class="card-footer">
                            <button (click)="update(employeeForm)" class="btn btn-info"
                                type="submit">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button (click)="delete()" class="btn btn-danger">Delete</button>
                        </div>
                        <div style="text-align: center;" class="text-danger" *ngIf="errmessage!=null">{{errmessage}}
                        </div>
                        <div style="text-align: center;" class="text-success" *ngIf="successMessage!=null">
                            {{successMessage}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>