
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <h1 style="font-family: calibri;font-weight: bold; text-align: center;">Employee List </h1>

        <button *ngIf=isvisible type="button" class="btn btn-info btn-lg btn-block" (click)="getemployeeList()">Show Employee List</button>
        <table *ngIf=!isvisible class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Date of Birth</th>
                    <th>Address</th>
                    <th>Position</th>
                    <th>Reports To</th>
                    <th>Telephone</th>
                    <th>Gender</th>
                    <th>Salary</th>

                </tr>
            </thead>
        </table>
        <table *ngIf=!isvisible  class="table table-bordered table-active">
            <div *ngFor="let employee of employees">

                <tbody class="table-striped">
                    <tr (click)="getemployeeDetail(employee.empId)" class="info">
                        <td style="width: 100px;">{{employee.empId}}</td>
                        <td style="width: 230px;">{{employee.name}}</td>
                        <td style="width: 350px;">{{employee.department}}</td>
                        <td style="width: 300px;">{{employee.dob}}</td>
                        <td style="width: 350px;">{{employee.address}}</td>
                        <td style="width: 150px;">{{employee.position}}</td>
                        <td style="width: 150px;">{{employee.reportsTo}}</td>
                        <td style="width: 150px;">{{employee.telephone}}</td>
                        <td style="width: 50px;">{{employee.gender}}</td>
                        <td style="width: 150px;">{{employee.salary}}</td>
                    </tr>
                </tbody>
            </div>
        </table>


        <h1 *ngIf=!isvisible>{{errormessage}}</h1>
        <button *ngIf=!isvisible type="button" class="btn btn-info btn-lg btn-block"
         (click)="isvisible ='true'">Hide Employee List</button>
    </div>
    <div class="col-md-1"></div>
</div>