<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div (click)="navigate2emplist()" class="card text-white bg-success">
            <h3 class="card-header">View Employees List</h3>
            <div class="card-body">
              <h5 class="card-title"></h5>
              
            </div>
            <img style="height: 250px; width: 400px; display: block;" src="\assets\employeeDirectory.jpg" alt="EmployeeListLogo">
            <div class="card-body">
              <p class="card-text">Contains List of all the employees of the company.</p>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div (click) = "navigateToAddEmployee()" class="card text-white bg-success">
            <h3 class="card-header">ADD new Employee</h3>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h6 class="card-subtitle text-muted"></h6>
            </div>
            <img style="height: 250px; width: 400px; display: block;" src="\assets\addEmployee.jpg" alt="addEmployee image">
            <div class="card-body">
              <p class="card-text">New Employees of the organisation can be added.</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div (click)="navigateToUpdateEmployee()" class="card text-white bg-success">
            <h3 class="card-header">Update Employee Details</h3>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h6 class="card-subtitle text-muted"></h6>
            </div>
            <img style="height: 250px; width: 400px; display: block;" src="\assets\updateEmployee.png" alt="Update employee image">
            <div class="card-body">
              <p class="card-text">Employee details can be updated under this.</p>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div (click) = "navigateToDeleteEmployee()" class="card text-white bg-success">
            <h3 class="card-header">Delete Employee</h3>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h6 class="card-subtitle text-muted"></h6>
            </div>
            <img style="height: 250px; width: 400px; display: block;" src="\assets\deleteEmpl.jpg" alt="delete employee image">
            <div class="card-body">
              <p class="card-text">Employee details can be removed under this.</p>
            </div>
        </div>
    </div>
</div>

